<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <meta name="author" content="Harrison South">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />

    <style>
        main {
            padding: 50px;
        }
    </style>
</head>

<body>
    <main>
        <div class="row">
            <button type="button" id="save-drawing" class="btn waves-effect waves-light right">Save</button>
        </div>
        <canvas id="apple">

        </canvas>
    </main>
    <script src="scripts/draw.js"></script>
</body>

</html>