<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <textarea id="presenting_complaint" class="materialize-textarea"></textarea>
            <label for="presenting_complaint">Presenting Complaint</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="presenting_complaint" class="materialize-textarea"></textarea>
            <label for="presenting_complaint">Presenting Complaint</label>
        </div>
    </div>
</div>