<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <textarea id="presenting_complaint" class="materialize-textarea"></textarea>
            <label for="presenting_complaint">Presenting Complaint</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="presenting_complaint" class="materialize-textarea"></textarea>
            <label for="presenting_complaint">Presenting Complaint</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="checkbox" id="history_ihd" />
            <label for="history_ihd">IHD</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_dm" />
            <label for="history_dm">DM</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_epilepsy" />
            <label for="history_epilepsy">Epilepsy</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_asthma" />
            <label for="history_asthma">Asthma</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_copd" />
            <label for="history_copd">COPD</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_mi" />
            <label for="history_mi">MI</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_dvt" />
            <label for="history_dvt">DVT</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_pe" />
            <label for="history_pe">PE</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_tia" />
            <label for="history_tia">TIA</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_cva" />
            <label for="history_cva">CVA</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="relevant_history" class="materialize-textarea"></textarea>
            <label for="relevant_history">Relevant Past History</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <textarea id="social_history" class="materialize-textarea"></textarea>
            <label for="social_history">Social History</label>
        </div>
        <div class="input-field col s6">
            <textarea id="family_history" class="materialize-textarea"></textarea>
            <label for="family_history">Family History</label>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <h4>Smoking History</h4>
            <p>
                <input name="smoking" type="radio" id="smoking_never" />
                <label for="smoking_never">Never</label>
            </p>
            <p>
                <input name="smoking" type="radio" id="smoking_current" />
                <label for="smoking_current">Current</label>
            </p>
            <p>
                <input name="smoking" type="radio" id="smoking_exsmoker" />
                <label for="smoking_exsmoker">Ex-Smoker</label>
            </p>

            <div class="input-field">
                <input type="number" id="smoking_years" />
                <label for="smoking_years">Pack Years</label>
            </div>
        </div>
        <div class="col s6">
            <h4>Alcohol History</h4>
            <p>
                <input name="alcohol" type="radio" id="alcohol_never" />
                <label for="alcohol_never">Never</label>
            </p>
            <p>
                <input name="alcohol" type="radio" id="alcohol_little" />
                <label for="alcohol_little">Little</label>
            </p>
            <p>
                <input name="alcohol" type="radio" id="alcohol_moderate" />
                <label for="alcohol_moderate">Moderate</label>
            </p>
            <p>
                <input name="alcohol" type="radio" id="alcohol_heavy" />
                <label for="alcohol_heavy">Heavy</label>
            </p>
        </div>
    </div>
</div>