<div class="row">
    <button class="btn waves-effect waves-light right" type="button" id="add-history" name="action" disabled>Add History</button>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="presenting_complaint" data-entity="history" data-field="presenting_complaint" class="materialize-textarea"></textarea>
            <label for="presenting_complaint">Presenting Complaint</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="history_presenting_complaint" data-entity="history" data-field="history_presenting_complaint" class="materialize-textarea"></textarea>
            <label for="history_presenting_complaint">History of Presenting Complaints</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="checkbox" id="history_ihd" data-entity="history" data-field="ihd" >
            <label for="history_ihd">IHD</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_dm" data-entity="history" data-field="dm" >
            <label for="history_dm">DM</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_epilepsy" data-entity="history" data-field="epilepsy" >
            <label for="history_epilepsy">Epilepsy</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_asthma" data-entity="history" data-field="asthma" >
            <label for="history_asthma">Asthma</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_copd" data-entity="history" data-field="copd" >
            <label for="history_copd">COPD</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_mi" data-entity="history" data-field="mi" >
            <label for="history_mi">MI</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_dvt" data-entity="history" data-field="dvt" >
            <label for="history_dvt">DVT</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_pe" data-entity="history" data-field="pe" >
            <label for="history_pe">PE</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_tia" data-entity="history" data-field="tia" >
            <label for="history_tia">TIA</label>
        </div>
        <div class="col">
            <input type="checkbox" id="history_cva" data-entity="history" data-field="cva" >
            <label for="history_cva">CVA</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="relevant_history" data-entity="history" data-field="relevant_history" class="materialize-textarea"></textarea>
            <label for="relevant_history">Relevant Past History</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <textarea id="social_history" data-entity="history" data-field="social_history" class="materialize-textarea"></textarea>
            <label for="social_history">Social History</label>
        </div>
        <div class="input-field col s6">
            <textarea id="family_history" data-entity="history" data-field="family_history" class="materialize-textarea"></textarea>
            <label for="family_history">Family History</label>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <h4>Smoking History</h4>
            <p>
                <input name="smoking" type="radio" data-entity="history" value="0" data-field="smoking_history"  id="smoking_never" />
                <label for="smoking_never">Never</label>
            </p>
            <p>
                <input name="smoking" type="radio" data-entity="history" value="1" data-field="smoking_history" id="smoking_current" />
                <label for="smoking_current">Current</label>
            </p>
            <p>
                <input name="smoking" type="radio" data-entity="history" value="2" data-field="smoking_history" id="smoking_exsmoker" />
                <label for="smoking_exsmoker">Ex-Smoker</label>
            </p>

            <div class="input-field">
                <input type="number" id="smoking_years" data-entity="history" data-field="smoking_pack_years" />
                <label for="smoking_years">Pack Years</label>
            </div>
        </div>
        <div class="col s6">
            <h4>Alcohol History</h4>
            <p>
                <input name="alcohol" type="radio" data-entity="history" value="0" data-field="alcohol_history" id="alcohol_never" />
                <label for="alcohol_never">Never</label>
            </p>
            <p>
                <input name="alcohol" type="radio" data-entity="history" value="1" data-field="alcohol_history" id="alcohol_little" />
                <label for="alcohol_little">Little</label>
            </p>
            <p>
                <input name="alcohol" type="radio" data-entity="history" value="2" data-field="alcohol_history" id="alcohol_moderate" />
                <label for="alcohol_moderate">Moderate</label>
            </p>
            <p>
                <input name="alcohol" type="radio" data-entity="history" value="3" data-field="alcohol_history" id="alcohol_heavy" />
                <label for="alcohol_heavy">Heavy</label>
            </p>
        </div>
    </div>
</div>