<div class="row">
    <table id="current_medication_table">
        <thead>
            <tr>
                <th data-field="drug-name">Drug Name</th>
                <th data-field="dose">Dose</th>
                <th data-field="route">Route</th>
                <th data-field="frequency">Frequency</th>
                <th data-field="details">Details</th>
                <th data-field="date">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="drug-name" type="text" class="autocomplete" required>
                    <input id="drug-id" data-entity="current_medication" data-field="medication_id" type="hidden">
                </td>
                <td>
                    <input type="number" id="dose">
                </td>
                <td>
                    <input type="text" id="route">
                </td>
                <td>
                    <input type="text" data-entity="current_medication" data-field="frequency" id="frequency">
                </td>
                <td>
                    <input type="text" data-entity="current_medication" data-field="details" id="details">
                </td>
                <td>
                    <input type="date" class="datepicker" data-entity="current_medication" data-field="date" id="medication-date">
                </td>
                <td>
                    <button type="button" class="btn waves-effect waves-light" id="add-medication">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
