<div class="row">
    <h4>Current Medication</h4>
    <table id="current_medication_table">
        <thead>
            <tr>
                <th data-field="drug-name">Drug Name</th>
                <th data-field="dose">Dose</th>
                <th data-field="measure">Measure</th>
                <th data-field="route">Route</th>
                <th data-field="frequency">Frequency</th>
                <th data-field="details">Details</th>
                <th data-field="date">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="drug-name" type="text" class="autocomplete" required>
                    <input id="drug-id" data-entity="current_medication" data-field="medication_id" type="hidden">
                </td>
                <td>
                    <input type="number" id="dose" disabled>
                </td>
                <td>
                    <input type="text" id="measure" disabled>
                </td>
                <td>
                    <input type="text" id="route" disabled>
                </td>
                <td>
                    <select id="frequency" class="browser-default" disabled>
                        <option value="" selected></option>
                        <option value="1">Once Daily</option>
                        <option value="2">Twice Daily</option>
                        <option value="3">Three Times Daily</option>
                        <option value="4">Four Times Daily</option>
                        <option value="5">PRN</option>
                    </select>
                </td>
                <td>
                    <input type="text" data-entity="current_medication" data-field="details" id="details">
                </td>
                <td>
                    <input type="date" class="datepicker" data-entity="current_medication" data-field="date" id="medication-date" required>
                </td>
                <td>
                    <button type="button" class="btn waves-effect waves-light" id="add-medication">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
