<div class="row">
  <div class="col s4">
    <label for="observations_source_referral">Source of Referral</label>
    <select id="observations_source_referral" data-entity="clinical_episode" data-field="source_referral" class="browser-default"
      selected> 
      <option value="" selected>Choose Source</option>
      <option value="ED">ED</option>
      <option value="GP">GP</option>
      <option value="Speciality Clinic">Speciality Clinic</option>
      <option value="Other">Other</option>
    </select>

  </div>
  <div class="input-field col s6">
    <input id="observations_referral_reason" data-entity="clinical_episode" data-field="reason_referral" type="text">
    <label for="observations_referral_reason">Reason for AEC Referral</label>
  </div>
  <div class="col s2">
    <button class="btn waves-effect waves-light" type="button" id="start-episode" name="action">Start Episode</button>
  </div>
</div>
<div class="row">
  <h2>Observations</h2>
  <button class="btn waves-effect waves-light right" type="button" id="add-observations" name="action">Add Observations</button>
  <div class="row">
    <table class="col s6">
      <thead>
        <th data-field="name">Name</th>
        <th data-field="value">Value</th>
      </thead>
      <tbody>
        <tr>
          <td>
            BP Systolic
          </td>
          <td>
            <input id="observations_bp_systolic" data-entity="observations" data-field="bp_systolic" type="number" disabled>
          </td>
        </tr>
        <tr>
          <td>
            BP Diastolic
          </td>
          <td>
            <input id="observations_bp_systolic" data-entity="observations" data-field="bp_diastolic" type="number" disabled>
          </td>
        </tr>
        <tr>
          <td>
            Pulse
          </td>
          <td>
            <input id="observations_pulse" data-entity="observations" data-field="pulse" type="number" disabled>
          </td>
        </tr>
        <tr>
          <td>
            Temperature
          </td>
          <td>
            <input id="observations_temperature" data-entity="observations" data-field="temperature" type="number" disabled>
          </td>
        </tr>
        <tr>
          <td>
            Respiratory Rate
          </td>
          <td>
            <input id="observations_respiratory_rate" data-entity="observations" data-field="respiratory_rate" type="number" disabled>
          </td>
        </tr>
        <tr>
          <td>
            AVPU
          </td>
          <td>
            <select id="patient_gender" data-entity="observations" data-field="avpu" class="browser-default" disabled>
              <option value="" selected>AVPU</option>
              <option value="A">A</option>
              <option value="V">V</option>
              <option value="V">P</option> 
              <option value="V">U</option> 
            </select>
          </td>
        </tr>
        <tr>
          <td>
            NEWS Score
          </td>
          <td>
            <input id="observations_news_score" data-entity="observations" data-field="news_score" type="number" disabled>
          </td>
    </table>
    <div class="col s6 row" id="observations-results">
    </div>
  </div>
  <hr />
  <button class="btn waves-effect waves-light right" type="button" id="add-examination" name="action">Add Examination</button>
  <div class="row">
    <div class="col s2">
      <input type="checkbox" id="anaemia" data-entity="examination" data-field="anaemia" disabled>
      <label for="anaemia">Anaemia</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="jaundice" data-entity="examination" data-field="jaundice" disabled>
      <label for="jaundice">Jaundice</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="cyanosis" data-entity="examination" data-field="cyanosis" disabled>
      <label for="cyanosis">Cyanosis</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="clubbing" data-entity="examination" data-field="clubbing" disabled>
      <label for="clubbing">Clubbing</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="lymphnodes" data-entity="examination" data-field="lymphnodes" disabled>
      <label for="lymphnodes">Lymph Nodes</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="dehydration" data-entity="examination" data-field="dehydration" disabled>
      <label for="dehydration">Dehydration</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="drowsy" data-entity="examination" data-field="drowsy" disabled>
      <label for="drowsy">Drowsy</label>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col s6">
      <h4>Cardiovascular</h4>
      <div class="input-field inline">
        <label for="examinations-pulse">Pulse</label>
        <input type="number" id="examinations-pulse" data-entity="examination" data-field="pulse">
      </div>
      <div class="input-field inline">
        <label for="examinations-bp-systolic">BP Systolic</label>
        <input type="number" id="examinations-bp-systolic" data-entity="examination" data-field="bp_systolic">
      </div>
      <div class="input-field inline">
        <label for="examinations-bp-diastolic">BP Diastolic</label>
        <input type="number" id="examinations-bp-diastolic" data-entity="examination" data-field="bp_diastolic">
      </div>
      <div class="input-field">
        <select id="soa" data-entity="examination" data-field="SOA" class="browser-default" disabled>
          <option value="" selected>SOA</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <img class="drawing-image" src="images/heart-sounds.PNG" data-original-src="images/heart-sounds.png" id="heart-sounds-drawing"
        data-entity="examination" data-field="heart_sound_diagram">
    </div>
    <div class="col s6">
      <h4>Respiratory</h4>
      <div class="input-field inline">
        <label for="examinations-respiratory-rate">Respiratory Rate/min</label>
        <input type="number" id="examinations-respiratory-rate" data-entity="examination" data-field="respiratory_rate_min">
      </div>
      <div class="input-field inline">
        <label for="examinations-respiratory-sats">Sats %</label>
        <input type="number" id="examinations-respiratory-sats" data-entity="examination" data-field="respiratory_sats">
      </div>
      <img class="drawing-image" src="images/lungs.PNG" data-original-src="images/lungs.PNG" id="lungs-drawing" data-entity="examination"
        data-field="respiratory_diagram">
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <h4>Gastro</h4>
      <img class="drawing-image" src="images/Gastro.PNG" data-original-src="images/gastro.png" id="gastro-drawing" data-entity="examination"
        data-field="gastro_diagram">
    </div>
    <div class="col s6">
      <h4>Neuro</h4>
      <i class="material-icons textarea-btn right">mode_edit</i>
      <label for="neuro">Neuro</label>
      <textarea id="neuro" data-entity="examination" data-field="neuro" class="materialize-textarea"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h4>Other</h4>
      <img class="drawing-image" src="images/other.png" data-original-src="images/other.png" id="other-drawing" data-entity="examination"
        data-field="other_diagram">
    </div>
  </div>