<div class="row">
  <div class="col s4">
    <label for="observations_source_referral">Source of Referral</label>
    <select id="observations_source_referral" data-entity="clinical_episode" data-field="source_referral" class="browser-default"
      selected> 
      <option value="" selected>Choose Source</option>
      <option value="ED">ED</option>
      <option value="GP">GP</option>
      <option value="Speciality Clinic">Speciality Clinic</option>
      <option value="Other">Other</option>
    </select>

  </div>
  <div class="input-field col s6">
    <input id="observations_referral_reason" data-entity="clinical_episode" data-field="reason_referral" type="text">
    <label for="observations_referral_reason">Reason for AEC Referral</label>
  </div>
  <div class="col s2">
    <button class="btn waves-effect waves-light" type="button" id="start-episode" name="action">Start Episode</button>
  </div>
</div>
<div class="row">
  <h2>Observations</h2>
  <button class="btn waves-effect waves-light right" type="button" id="add-observations" name="action" disabled>Add Observations</button>
  <table>
    <thead>
      <th data-field="name">Name</th>
      <th data-field="value">Value</th>
    </thead>
    <tbody>
      <tr>
        <td>
          BP Systolic
        </td>
        <td>
          <input id="observations_bp_systolic" data-entity="observations" data-field="bp_systolic" type="number" disabled>
        </td>
      </tr>
      <tr>
        <td>
          BP Diastolic
        </td>
        <td>
          <input id="observations_bp_systolic" data-entity="observations" data-field="bp_diastolic" type="number" disabled>
        </td>
      </tr>
      <tr>
        <td>
          Pulse
        </td>
        <td>
          <input id="observations_pulse" data-entity="observations" data-field="pulse" type="number" disabled>
        </td>
      </tr>
      <tr>
        <td>
          Temperature
        </td>
        <td>
          <input id="observations_temperature" data-entity="observations" data-field="temperature" type="number" disabled>
        </td>
      </tr>
      <tr>
        <td>
          Respiratory Rate
        </td>
        <td>
          <input id="observations_respiratory_rate" data-entity="observations" data-field="respiratory_rate" type="number" disabled>
        </td>
      </tr>
      <tr>
        <td>
          AVPU
        </td>
        <td>
          <input id="observations_avpu" data-entity="observations" data-field="avpu" type="number" disabled>
        </td>
      </tr>
      <tr>
        <td>
          NEWS Score
        </td>
        <td>
          <input id="observations_news_score" data-entity="observations" data-field="news_score" type="number" disabled>
        </td>
  </table>
  <hr />

  <div class="row">
    <div class="col s2">
      <input type="checkbox" id="observations_anaemia" disabled>
      <label for="observations_anaemia">Anaemia</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="observations_jaundice" disabled>
      <label for="observations_jaundice">Jaundice</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="observations_cyanosis" disabled>
      <label for="observations_cyanosis">Cyanosis</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="observations_clubbing" disabled>
      <label for="observations_clubbing">Clubbing</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="observations_lymphnodes" disabled>
      <label for="observations_lymphnodes">Lymph Nodes</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="observations_dehyrdration" disabled>
      <label for="observations_dehyrdration">Dehydration</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="observations_drowsy" disabled>
      <label for="observations_drowsy">Drowsy</label>
    </div>
  </div>

  <hr />


</div>