<div class="row">
  <div class="row">
    <div class="input-field col s6">
      <input id="hospital_name" type="text" class="autocomplete" required>
      <label for="hospital_name">Hospital</label>
    </div>
    <div class="input-field col s4">
      <input id="patient_number" type="text" x-webkit-speech>
      <label for="patient_number">Patient Number</label>
    </div>
    <div class="col s2">
      <button class="btn waves-effect waves-light" type="button" id="find-patient" name="action">Find</button>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s3">
      <input id="patient_surname" type="text" data-entity="patient" data-field="surname" disabled>
      <label for="patient_surname">Patient Surname</label>
    </div>
    <div class="input-field col s3">
      <input id="patient_firstname" data-entity="patient" data-field="firstname" type="text" disabled>
      <label for="patient_firstname">Patient First Name</label>
    </div>
    <div class="input-field col s3">
      <label for="patient_dateofbirth">Date of Birth</label>
      <input id="patient_dateofbirth" data-entity="patient" data-field="date_of_birth" type="date" class="datepicker" disabled>
    </div>
    <div class="input-field col s3">
      <select id="patient_gender" data-entity="patient" data-field="gender" class="browser-default" disabled>
          <option value="" selected>Choose Gender</option>
          <option value="0">Male</option>
          <option value="1">Female</option> 
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <div class="card blue-grey">
        <div class="card-content white-text light-blue darken-4">
          <span class="card-title">Address</span>
          <div class="input-field">
            <input id="address_line_1" data-entity="patient" data-field="address_line_1" type="text" disabled>
            <label for="address_line_1">First Line</label>
          </div>
          <div class="input-field">
            <input id="address_line_2" data-entity="patient" data-field="address_line_2" type="text" disabled>
            <label for="address_line_2">Second Line</label>
          </div>
          <div class="input-field">
            <input id="address_city" data-entity="patient" data-field="address_city" type="text" disabled>
            <label for="address_city">City</label>
          </div>
          <div class="input-field">
            <input id="address_county" data-entity="patient" data-field="address_county" type="text" disabled>
            <label for="address_county">County</label>
          </div>
          <div class="input-field">
            <input id="address_postcode" data-entity="patient" data-field="address_postcode" type="text" disabled>
            <label for="address_postcode">Post-code</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="input-field">
        <input id="patient_telephone" data-entity="patient" data-field="telephone" type="text" disabled>
        <label for="patient_telephone">Telephone</label>
      </div>
      <div id="previous-episodes" class="collection hide"></div>
    </div>
  </div>
  <h4>General Practioner</h4>
  <div class="row">
    <div class="input-field col s5">
      <input id="gp_firstname" data-entity="gp" data-field="firstname" type="text">
      <label for="gp_firstname">Firstname</label>
    </div>
    <div class="input-field col s5">
      <input id="gp_surname" data-entity="gp" data-field="surname" type="text">
      <label for="gp_surname">Surname</label>
    </div>
    <div class="col s2">
      <button class="btn waves-effect waves-light" type="button" id="find-gp" name="action">Find</button>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <div class="card blue-grey">
        <div class="card-content white-text light-blue darken-4">
          <span class="card-title">GP Address</span>
          <div class="input-field">
            <input id="gp_firstline" data-entity="gp" data-field="address_line_1" type="text" class="validate">
            <label for="gp_firstline">First Line</label>
          </div>
          <div class="input-field">
            <input id="gp_secondline" data-entity="gp" data-field="address_line_2" type="text" class="validate">
            <label for="gp_secondline">Second Line</label>
          </div>
          <div class="input-field">
            <input id="gp_city" data-entity="gp" data-field="address_city" type="text" class="validate">
            <label for="gp_city">City</label>
          </div>
          <div class="input-field">
            <input id="gp_county" data-entity="gp" data-field="address_county" type="text" class="validate">
            <label for="gp_county">County</label>
          </div>
          <div class="input-field">
            <input id="gp_postcode" data-entity="gp" data-field="address_postcode" type="text" class="validate">
            <label for="gp_postcode">Post-code</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-field">
    <input id="gp_telephone" data-entity="gp" data-field="telephone" type="text" class="validate">
    <label for="gp_telephone">Telephone</label>
  </div>
</div>