<div class="row">
    <h4>Prescribed Medication</h4>
    <table id="drug-treatment-table">
        <thead>
            <tr>
                <th data-field="drug-name">Drug Name</th>
                <th data-field="dose">Dose</th>
                <th data-field="measure">Measure</th>
                <th data-field="route">Route</th>
                <th data-field="frequency">Frequency</th>
                <th data-field="details">Details</th>
                <th data-field="date">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="drug-name" type="text" class="autocomplete" required>
                    <input id="drug-id" data-entity="drug_treatment" data-field="medication_id" type="hidden">
                </td>
                <td>
                    <input type="number" id="dose" disabled>
                </td>
                <td>
                    <input type="text" id="measure" disabled>
                </td>
                <td>
                    <input type="text" id="route" disabled>
                </td>
                <td>
                    <select id="frequency" class="browser-default" disabled>
                        <option value="" selected></option>
                        <option value="1">Once Daily</option>
                        <option value="2">Twice Daily</option>
                        <option value="3">Three Times Daily</option>
                        <option value="4">Four Times Daily</option>
                        <option value="5">PRN</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="details" data-entity="drug_treatment" data-field="details">
                </td>
                <td>
                    <input type="date" class="datepicker" data-entity="drug_treatment" data-field="date" id="medication-date" required>
                </td>
                <td>
                    <button type="button" class="btn waves-effect waves-light" id="add-drugtreatment">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button type="button" class="btn waves-effect waves-light right" id="add-treatment">Save Treatment Data</button>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons textarea-btn right">mode_edit</i>
        <textarea id="additional_treatments" data-entity="treatment" data-field="additional_treatments" class="materialize-textarea"></textarea>
        <label for="additional_treatments">Additional Treatments</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons textarea-btn right">mode_edit</i>
        <textarea id="information_given" data-entity="treatment" data-field="information_given" class="materialize-textarea"></textarea>
        <label for="information_given">Information Given</label>
    </div>
</div>

<div class="input-field">
    <select id="follow_up" data-entity="treatment" data-field="follow_up_when" class="browser-default">
        <option value="" selected>Choose Follow-up Arrangement</option>
        <option value="0">2 Weeks</option>
        <option value="1">4 Weeks</option>
        <option value="2">6 Weeks</option>
        <option value="3">GP Follow-up</option>
    </select>
</div>
<div class="input-field">
    <label for="follow_up_where">Location of Follow-up</label>
    <input type="text" data-entity="treatment" data-field="follow_up_where" id="follow_up_where">
</div>