nav {
    color: #e1f5fe;
    padding-left: 10px;
    padding-right:10px;
    margin-bottom: 10px;
}

.tabs .indicator {
  background-color: #03a9f4 !important;
}
.tab a {
  color: #03a9f4 !important;
}

.card-content label {
  color: #e1f5fe;
}

.card-content input {
  border-bottom-color: #e1f5fe;
}

.patient-card:hover {
  background-color: #42a5f5 !important;
  cursor: pointer;
}

.patient-active {
  background-color: #42a5f5 !important;
}

.tab-in-progress {
  background-color: #ffb74d !important;
}
.tab-completed {
  background-color: #81c784 !important;
  color: #b9f6ca !important;
}