.information {
    padding: 10px;
}

main {
    font-size: 18px;
    padding: 0 50px;
}

.view-value {
    font-size: 32px;
}

label {
    font-size: 20px;
}

.pmh-chip {
    vertical-align: middle;
}

.pmh-chip i {
    vertical-align: middle;
    line-height: 32px;
}

.low-result {
    background-color: #80deea;
}

.high-result {
    background-color: #ef9a9a;
}

.result-chip {
    font-size: 32px;
}

.section {
    margin-bottom: 50px;
}